input[type=text] {
    width: 150px;
    background-repeat: no-repeat;
    padding: 10px 40px 10px 40px;
    transition: width 0.3s ease-in-out;
    background-image: "assets/magnifying-glass.png";
}
  
input[type=text]:focus {
    width: 20%;
}

#search {
    float: right;
}
#searchbutton {
    float: right;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
