<div class = "cardInner"
  gdAreas="header header header | side content side2 | footer footer footer"
  gdGap="16px"
  gdRows="auto auto auto">
  <div gdArea="header">
   </div>
   <!-- Side section currently empty-->
  <div gdArea="side">
    <div id ="updates">
    </div>
   </div>
   <!-- Displays cards -->
  <div gdArea="content" id="sitecontent">
    <div *ngFor="let item of categoryitems">
      <category-item-description [itemname]="item" id="category-card"></category-item-description>
      <br>
    </div>
  </div>
  <div gdArea="side2" id="Side2">
  </div>
  <!-- Resource section -->
  <div gdArea="footer" id = "resources">
    <div id = "resource-row">
      <button id = "resource-button">Resource 1</button>
      <button id = "resource-button">Resource 2</button>
      <button id = "resource-button">Resource 3</button>
      <button id = "resource-button">Resource 4</button>
      <button id = "resource-button">Resource 5</button>
    </div>
  </div>
</div>