input[type=text] {
    width: 150px;
    background-repeat: no-repeat;
    padding: 10px 40px 10px 40px;
    transition: width 0.3s ease-in-out;
    background-image: "assets/magnifying-glass.png";
}
  
input[type=text]:focus {
    width: 20%;
}

#search {
    float: right;
}
#searchbutton {
    float: right;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
#category-card:hover{
  box-shadow: 0 0.5em -0.4em;
}
#resource-row{
  display: flex;
}
#resource-button {
    flex: auto;
    background-color: #512888;
    border: none;
    color: white;
    padding: 32px 8px;
    text-align: center;
    font-size: 2vw; 
    opacity: 0.9;
    transition: 0.4s;
    font-family: 'Amatic SC', cursive;
}

#resource-button:hover {opacity: 1}
#resource-header{
  font-family: 'Amatic SC', cursive;
  font-size: 4.2vw; 
}

#resources{
background-color: white;
}

@media (max-width:700px){
    #search {
      float:left;
      width: 34%;
    }
    #searchbutton {
      float: left;
      padding: 10px;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    #resource-button{
      opacity: 1;
    }
    #resource-header{
      font-size: 7vw;
    }
    #resource-button{
      font-size: 4vw;
    }
  }