@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    margin: auto;
    padding: 10px;
}

hr{
    width: 100%;
    display: block;
}

h1{
    font-family: 'Bebas Neue', cursive;
    margin-top: 40px;
    font-size: 5vw;
    text-align: center;
    width: 80%;
}
#kdalogo{
    left: 40px;
    width: 8%;
    height: auto;
}
#kstatelogo{
    width: 8%;
    height: auto;
    float: right;
}
.search-form{
    display: flex;
    border: none;
}
#search-button {
    width: 12%;
    border: none;
    font-size: 2vw;

}
.search-box__input{
    flex-grow: 1;
    font-size: 2.2vw; 
}

@media (max-width:700px){
    #kstatelogo{
        width: 18%;
    }
    #kdalogo{
        width: 18%;
    }
    #top-hr{
        display: none;
    }
}