<!-- Site header -->
<header href="#">
  <hr>
    <h1>
      <!-- KDA Logo-->
      <a href="https://www.agriculture.ks.gov/"><img id="kdalogo" src="assets/KDALogo_Blue-Gold.png" height="100"></a>
      <!-- Title -->Kansas Farmers Market
      <!-- Kstate logo -->
      <a href="https://www.ksre.k-state.edu/"><img id="kstatelogo" src="assets/KSRE_logo_268.png" height="100"></a>
    </h1>
    <br>
    <br>
  <hr>
  <br>
  <!-- Search bar -->
  <form class="search-form" >
    <input type="text" class="search-box__input"  placeholder="Search..">
    <button id="search-button">Search</button>
  </form>
</header>

<router-outlet></router-outlet>