@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

h1{
    margin: auto;
    padding: 10px;
}

hr{
    width: 100%;
}

h1{
    font-family: 'Amatic SC', cursive;
    margin-top: 40px;
    font-size: 6vw;
    text-align: center;
    width: 80%;

}
#kdalogo{
    left: 40px;
    width: 13%;
    height: auto;
}
#kstatelogo{
    width: 13%;
    height: auto;
    float: right;
}
.search-form{
    display: flex;
}
#search-button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 12%

}
.search-box__input{
    flex-grow: 1;
    font-size: 2.2vw; 
}



