<h1 height="100">
  <img id="kdalogo" src="assets/KDALogo_Blue-Gold.png" height="100">
  Farmers Market
  <img id="kstatelogo" src="assets/kstatelogo.png" height="100">
</h1>

<div class = "cardInner"
  gdAreas="header header header | side content side2 | footer footer footer"
  gdGap="16px"
  gdRows="auto auto auto">
  <div gdArea="header">
    <input type="text" class="Search"/>
    <button class="Search">Search</button>
   </div>
  <div gdArea="side">
    Updates
   </div>
  <div gdArea="content" id="sitecontent">
    <app-card></app-card>
    <br>
    <app-card></app-card>
  </div>
  <div gdArea="side2" id="Side2">
  </div>
  <div gdArea="footer">
    Resources
  </div>
</div>

<router-outlet></router-outlet>