@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

:host {
    display: block;
    padding: 32px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 2.7vw;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  @media (max-width:700px){
    :host{
      padding: 8px;
      font-size: 4vw;
    }
  }